/*Variables*/
* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background-color: #9d59c7;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

* body .container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container .container_box {
  margin: auto;
  max-width: 500px;
  background-color: #6e53bc;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

* body .container .container_box .box_title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* body .container .container_box .box_title h1 {
  color: white;
}

* body .container .container_box .box_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

* body .container .container_box .box_filter input[type="text"] {
  width: 100%;
  border: none;
  margin: 3px;
  border-radius: 5px;
  padding: 7px;
  font-family: "Poppins", sans-serif;
  background-color: #9d59c7;
}

* body .container .container_box .box_filter input[type="text"]::-webkit-input-placeholder {
  color: white;
}

* body .container .container_box .box_filter input[type="text"]:-ms-input-placeholder {
  color: white;
}

* body .container .container_box .box_filter input[type="text"]::-ms-input-placeholder {
  color: white;
}

* body .container .container_box .box_filter input[type="text"]::placeholder {
  color: white;
}

* body .container .container_box .box_filter label {
  margin: 5px;
}

* body .container .container_box .box_filter input.BotonEnviar, * body .container .container_box .box_filter input.actualizarPagina {
  border: none;
  margin: 3px;
  border-radius: 5px;
  padding: 7px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  margin: 5px;
  background-color: #c76fe5;
}

* body .container .container_box .box_filter .custom_select {
  margin: 5px;
  width: 50%;
}

* body .container .container_box .box_filter .custom_select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #c76fe5;
}

* body .container .container_box .box_filter .custom_select select option {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}

* body .container .container_box .box_list_Compras,
* body .container .container_box .box_list_Uni,
* body .container .container_box .box_list_Gastos {
  background-color: #9d59c7;
  border-radius: 15px;
  margin: 5px;
}

* body .container .container_box .box_list_Compras i,
* body .container .container_box .box_list_Uni i,
* body .container .container_box .box_list_Gastos i {
  margin: 10px;
}

@media (max-width: 500px) {
  * body .container {
    width: 90%;
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
  }
  * body .container div > form > div.box_filter > input[type=submit]:nth-child(4) {
    width: 100%;
  }
  * body .container h3 {
    font-size: 1.07em;
  }
}
