/*Variables*/
$bg-light-purple: #9d59c7;
$color-dark-purple: #6e53bc;
$color-list-purple: #c76fe5;

@mixin Box_items {
  background-color: $bg-light-purple;
  border-radius: 15px;
  margin: 5px;
}
@mixin box_styles_borders {
  border: none;
  margin: 3px;
  border-radius: 5px;
  padding: 7px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0px;
  box-sizing: border-box;

  body {
    background-color: $bg-light-purple;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    .container {
      height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;

      .container_box {
        margin: auto;

        max-width: 500px;
        background-color: $color-dark-purple;

        padding: 3%;
        display: flex;
        flex-direction: column;

        border-radius: 15px;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
        .box_title {
          align-self: center;
          h1 {
            color: white;
          }
        }
        .box_filter {
          display: flex;
          flex-flow: row wrap;
          input[type="text"] {
            width: 100%;

            @include box_styles_borders();
            background-color: $bg-light-purple;
            &::placeholder {
              color: white;
            }
          }
          label {
            margin: 5px;
          }
          input.BotonEnviar, input.actualizarPagina
           {
            @include box_styles_borders();
            padding: 5px;
            margin: 5px;
            background-color: $color-list-purple;
            
          }
          .custom_select {
            margin: 5px;
            width: 50%;
            select {
              appearance: none;
              width: 100%;
              height: 100%;
              text-align: center;
              border-radius: 5px;
              font-family: "Poppins", sans-serif;
              background-color: $color-list-purple;
              option {
                align-items: center;
                padding: 3px;
              }
            }
          }
        }

        .box_list_Compras,
        .box_list_Uni,
        .box_list_Gastos {
          @include Box_items();
          i {
            margin: 10px;
          }
          #box_list_Compras > li {
            
          }
        
        }
      }
    }
  }



//MEDIA QUERIES
@media (max-width:500px) {
body {
  .container{
    width: 90%;
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
     div > form > div.box_filter > input[type=submit]:nth-child(4) {
       width: 100%;
     }
     h3 {
       font-size: 1.07em;
     }
    
  }
}
}}